numpy>=1.17.3,<1.18
networkx>=2.1
pyyaml>=3.13
pandas>=0.23.4
xarray>=0.11
bottleneck
scipy>=1.1
pyzmq>=17.1.2
coloredlogs>=10.0
tables>=3.4.4
jsonschema>=3.1.1
pytest>=4.0.2
sphinx>=2.2.1,<2.3
matplotlib
seaborn
pygments
ipython
jupyter
mne
pyRiemann
git+https://github.com/timeflux/timeflux
git+https://github.com/timeflux/timeflux_ui#egg=timeflux_ui
git+https://github.com/timeflux/timeflux_dsp#egg=timeflux_dsp
git+https://github.com/timeflux/timeflux_ml#egg=timeflux_ml
git+https://github.com/timeflux/timeflux_example